.login {
  display: flex;
  flex-direction: row;
}

.app-bg {
  height: 1000px;
  width: 1000px;
}

.login-title {
  background-color: black;
  width: 1000px;
  height: 1000px;
  display: flex;
  padding: 10rem 0rem 0rem 20rem;
}

.logo {
  width: 70px;
  height: 70px;
}

h1 {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  font-family: "Open Sans";
  margin: -2.5rem 0rem 0rem 2rem;
}

.login-form {
  background-color: #f0eeee;
  position: absolute;
  height: 450px;
  width: 750px;
  margin: 10rem 0rem 0rem -33rem;
  border-radius: 20px;
  padding: 3rem 5rem 0rem 5rem;
}
.field {
  margin-bottom: 15px; /* Adjust the margin as needed */
}
.inputs {
  display: flex;
  height: 73px;
  width: 600px;
  margin: 0rem 0rem 2rem 0rem;
  padding: 0rem 0rem 0rem 2rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Poppins";
}
p {
  color: red;
  font-weight: 600;
  font-size: 16px;
  margin: 5px 0px 5px 90px;
  font-family: Poppins;
}
.for-rem {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 600;
}

.remember {
  display: flex;
  margin: 0rem 1rem 0rem 0rem;
}

.submit {
  background-color: #ffc700;
  width: 600px;
  height: 73px;
  margin: 2rem 0rem 0rem 0rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
}

@media only screen and (max-width: 1080px) {
  .login {
    display: flex;
    flex-direction: row;
  }

  .app-bg {
    height: 993px;
    width: 1000px;
  }

  .login-title {
    background-color: black;
    width: 800px;
    height: 800px;
    margin: 6rem;
    position: absolute;
  }

  .logo {
    width: 70px;
    margin: 0rem 0rem 0rem -6rem;
    height: 70px;
  }

  h1 {
    color: white;
    font-size: 6rem;
    font-weight: 700;
    font-family: "Open Sans";
    margin-right: 42rem;
  }

  .login-form {
    background-color: #f0eeee;
    position: absolute;
    height: 400px;
    width: 700px;
    margin: 10rem 0rem 0rem -73rem;
    border-radius: 20px;
    padding: 1rem 5rem 0rem 5rem;
  }

  .inputs {
    display: flex;
    height: 73px;
    width: 600px;
    margin: 0rem 0rem 0rem -2rem;
    padding: 0rem 0rem 0rem 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    justify-content: space-evenly;
    font-family: "Poppins";
  }

  .for-rem {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    font-weight: 600;
  }

  .remember {
    display: flex;
    margin: 0rem 1rem 0rem 0rem;
  }

  .submit {
    background-color: #ffc700;
    width: 600px;
    height: 73px;
    margin: 4rem 0rem 0rem -2rem;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: "Poppins";
    font-weight: 600;
  }
}
